# dependencies
node_modules/

# build
dist/
.tanstack/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

app-example

# local server data
.data/

# prisma client
apps/api/src/generated/
